{% extends "base.html" %}
{% block container %}
    <form action="/trigger" method="post">
        <label for="labelText"><b><br>Please select the Run Name. Use 'Trigger' to start a new Lightsout
            Job</b><br><br></label>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-2">
                    <label for="sel1">Run Name (select one):</label>
                    <select required id="runName" name="runName" class="form-control" style="width: 505px">
                        <option value="" selected disabled>Please select</option>
                        {% for id, env in envlabels.iteritems() %}
                            <option value= {{ env['envLabel'] }}>{{ env['envName'] }}</option>
                        {% endfor %}
                    </select><br>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2">
                    <label for="faatLabel">FAAT Label</label>
                    <select required id="runName" name="runName" class="form-control" style="width: 505px">
                        <option value="" selected disabled>Please select</option>
                        {% for id,faatlabel in faatlabels.iteritems() %}
                            <option value= {{ faatlabel['id'] }}>{{ faatlabel['faatLabel'] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-2">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Trigger</button>
                </div>
            </div>
        </div>
        <br>
    </form>
{% endblock %}
